
article.feature header .header_text {
    max-width:600px;
    margin:auto;
}

.best_of_section {
    max-width:1060px;
    margin:auto;
    padding:0 0 20px 0;
}

.best_of_main_image_container {
    float:left;
    width:33%;
    position:relative;
}

.best_of_main_image_container img {
    width:100%;
}

.best_of_main_image_container .replace_image {
    position:absolute;
    top:0;
    left:0;
    @include opacity(0);
}

.best_of_thumb_container {
    float:left;
    width:66%;
}

.best_of_thumb_inner {
    padding:20px 0 0 20px;
}

.best_of_thumb {
    float:left; width:14%;
    @include transition(all 0.2s ease-in-out);
    @include opacity(0.99);
    -webkit-backface-visibility: hidden;
}

.best_of_thumb_hide {
    display:none;
}

.best_of_thumb:hover {
    @include opacity(0.7);
}

.best_of_thumb img {
    width:90%; margin:0px auto 10px auto; cursor:pointer;
}


.best_of_section_header {}
.best_of_section_mobile_header {
    display:none;
}

@include respond-to(mobile) {
    .best_of_section_header {
        display:none;
    }

    .best_of_section_mobile_header {
        display:block;
        padding:0 0 10px 0;
        text-align:center;
    }
}

.best_of_section h2 {
    @include font_title_copy;
    color:#070707;
    text-transform:uppercase;
    font-weight:normal;
    margin:0;
    padding:0 0 10px 20px;
}

.best_of_section a.feature_cta {
    @include button_link_style;
    color:#FFF;
    background:#070707;
    margin:0 0 0 20px;
}

.best_of_section a.feature_cta:hover {
    background:#666;
    border-color:#666;
}

.best_of_section .best_of_section_mobile_header h2 {
    font-size:12px;
}

@include respond-to(mobile) {

    .best_of_main_image_container {
        width:45%;
    }

    .best_of_thumb_container {
        float:left;
        width:55%;
    }

    .best_of_thumb_inner {
        padding:0px 10px 0 20px;
    }

    .best_of_thumb {
        float:left; width:20%;
    }

    .best_of_thumb img {
        width:100%; padding:2px; margin:0;
        @include box-sizing(border-box);
    }

}