// EGAN PAM WEBSITE STYLING
@import "compass/css3/opacity";
@import "compass/css3/transition";
@import "compass/css3/transform";
@import "compass/css3/box-sizing";
@import "compass/css3/box-shadow";
@import "_grid_fluid";
@import "nav";
@import "header";
@import "framework";
@import "_mixins";
@import "homepage";
@import "latest_news";
@import "footer";
@import "contact";
@import "case";

a {
	&:hover {
		color: black;
	}
}
body {
	margin: 0;
	padding: 0;
}