footer {
	clear: both;	
	background-color: #164a75;
	color: #ffffff;
	position: relative;
	font-size: 11px;
	padding: 10px;
	overflow: hidden;
	a {color: #fff;}
}
.housing_badges {
	float: left;
	// border-radius: 5px;
	background-color: #ffffff;
	padding: 20px 5px;
	margin-left: 20px;
	img {
		float: left;
		padding: 0 10px;
	}
}
 .footer_contact_details {
	float: left;
	padding-left: 15px;
	img {
		float: left;
		padding-right: 5px;
	}
	p {
		margin: 0;
		line-height: 17px;
		float: left;
	}
}
.copyright {
	float: right;
	margin-right: 15px;
	p{
		margin: 0;
	}	
}
.terms {
	float: left;
}
// divide line
 .footer_divide {
 	height: 1px;
 	background-color: #456e91;
 	width: 100%;
	margin: 10px 0;
 }