$yellow: #164A75;


.content { 
  display:none;
  width: 100%;     
  height: 150px;
  clear: both;
  margin-left: 22px;
}
.content img {
    width: 300px; 
    float: left;
    padding-right: 10px;
}
.navigation {
  clear: both;
}
.but {
    float: left;
    width: 250px;
    margin: 20px;
    clear: top;
}