// LATEST NEW COLUMN STYLING

.latest_news {
	width: 20%;
	padding: 10px;
	margin-left: 15px!important;
	float: right;
	background-color: #eaeaea;
	height: 100%;
	h3{
		background-color: #164a75;
		width: 92%;
		color: #ffffff;
		margin: 0;
		padding: 10px 7% 10px 3px;
	}
	.latest_news_inner {
		position: relative;
		background-color: #a3a3a3;
		padding: 15px;
		color: #fff;
		border-radius: 5px;
		border-top-left-radius: 0;
		border-top-right-radius: 0;
	}
	.news_divide {
		width: 100%;
		height: 1px;
		background-color: #fff;
	}
}

.home_news {
	height: 1140px;
}
.albe_news {
	height: 800px;
}
.services_news {
	height: 745px;
}
.contact_news {
	height: 820px;
}
.case_news {
	height: 805px;
	top: -5px;
}