
.case_images {
	width: 440px;
	float: left;
	position: relative;
	img {
		width: 200px;
	}
}
.case_content {

}
.study_01, .study_02, .study_03, .study_04, .study_05, .study_06 {
	display: none;
}
.active_study {
	display: block;
}