$body_copy: 'Arial', sans-serif;;
article.site_content {
	width: 100%;
	min-width: 1260px;
	max-width: 1366px;
	position: relative;
	margin: auto;
	font-family: $body_copy;
	font-weight: 300;
	color: black;
	font-weight: lighter;
	img {border: none;}
}
a {
	text-decoration: none;
	color: black;
}
.content_area {
	width: 80%;
	font-size: 13px;
	position: relative;
	margin: auto;
	p {
		line-height: 20px;
	}	
}
.content_text {
	float: left;
	width: 75%;
	padding-right: 10px;
	padding-top: 5px;
	h2 {font-size: 31px;}
	ul li {
		display: block;
		text-indent: -40px;
	}
}